<!DOCTYPE html>
<html lang="fr-fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LSINetCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color:#727272">
    <header>
        <table style="width: 100%;">
            <tr>
                @* Logo Ascometal *@
                <td style="text-align: center; width: 10%;"><img src="~/img/LogoAscometal.gif" /></td>
                @* Titre de la page *@
                <td style="text-align: center; width: auto;"><span style="font-size:x-large; font-weight: bold; color: white;">@ViewData["Title"]</span></td>
                @* Bloc de navigation *@
                <td style="width: 10%;">
                    <table>
                        <tr>
                            <td><img src="~/img/IconePrecedent.png"/></td>
                            <td><img src="~/img/IconeHome.png" /></td>
                            <td><img src="~/img/IconeAbout.png"/></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr/>
            <tr>
                <td></td>
            </tr>
            @* Jalons *@
            <tr>
                <td colspan="3" style="background-color: #D60000; height:3px;">@RenderSection("MarkersSection", required: false)</td>
            </tr>
        </table>
        <div style="color: #D60000; height: 3px; width: 500px;"/>
    </header>
    <div class="container">
        <div id="RealTimeproductionPanel">
            @RenderSection("RealTimeProductionSection", required: false)
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <div id="ActionButtonsPanel">
            @RenderSection("ActionButtonsSection", required: false)
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - LSINetCore - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
